jupyter==1.0.0
jupyterlab==3.6.1
ipython==8.11.0
jupyter-book==0.14.0
jupyter_contrib_nbextensions==0.7.0
pyppeteer==1.0.2
matplotlib==3.7.0
sos==0.24.0
sos-notebook==0.24.0
sos-papermill==0.2.1
sos-r==0.20.0
pyarrow==11.0.0
sos-python==0.20.0
sos-bash==0.21.0
jupyterlab_sos==0.9.0
transient-display-data==0.4.3
bash_kernel==0.9.0
